# Pycache
__pycache__/
*.pyc

# Model files
*.pt
*.pth

# Executables and libraries
*.exe
*.dll
*.zip

# Output directories
output/
video_output/
benchmarking/**/output/

# Test images
IMAGE/

# CLIC devkit git repo
benchmarking/clic2021-devkit/.git/

# VSCode
.vscode/
